*{
    margin: 0;
    padding:0;
}
.game{
    display:flex;
}
.one{
    border: 2px solid black;
    flex:1;
    background-color: aliceblue;
    
}
.two{
    flex:1;
    background-color: rgb(181, 197, 210);
    border: 2px solid black;
   
}
 nav ul {
    display: flex ;
    list-style-type: none;
    justify-content: center;
    background-color: aqua;
       
}
nav  a{
    color: blue;
    padding: 10px 20px;
    text-decoration: none;
}
nav a:hover{
    color: aqua;
    background-color: green;
}


